.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
 /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top:60px;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
 }
  100% {
      -webkit-transform: rotate(360deg);
 }
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
 }
  100% {
      transform: rotate(360deg);
 }
}
body {
  width: 500px;
  height: 650px;
  overflow-x: hidden;
}
#HistoryContent, #allItem, #search {
  display: none;
}
#loader {
  padding: 20px;
  padding-top: 100px;
  display: block;
}
.favicon {
  height: 20px;
  width: 20px;
}
.url-text {
  font-size: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.result-title {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.title-text {
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}
.time-text {
  font-size:0.8em;
}
.time-text-parent {
  padding: 0px;
}
.history-item-element {
  padding: 10px;
}
/* search Box */

.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	width: 500px;
	margin: auto;
}
.search-box {
	width: 440px;
	border: 1px solid #ccc;
  outline: 0;
}
.search-box:focus {
	box-shadow: 0 0 1px 1px #b0e0ee;
	border: 1px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 25px;
	height: 25px;
	position: absolute;
	background-color: #FFF;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	text-align: center;
	color: black;
	font-weight: normal;
	font-size: 12px;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
.search-items
{
  margin: 10px;
  background: #F1F1F1;
}
